/* General Header styles */
.header {
  background-color: transparent;
  color: rgb(0, 0, 0);
  height: 200px;
  font-size: 12px ;
  letter-spacing: 0.5em;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Desktop version */
.header-desktop {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.header-desktop nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  list-style: none;
  padding: 0;
  margin-top: 63px;
}

.header-desktop nav ul li {
  padding: 0 20px;
}

/* Mobile version */
.header-mobile {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

.header-mobile .hamburger {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 40px;
}

.header-mobile .logo img {
  height: 70px;
  padding-top: 10px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E0A9D6; /* Adjust color based on your need */
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 0; /* Remove padding so that sections are equally divided */
  z-index: 1000;
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
}

.mobile-menu-header .logo {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Center the logo */
}

.mobile-menu-header .close {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 48px;
}

/* Sections for logo and links */
.mobile-menu nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu nav ul li {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh / 6); /* Each section gets 1/6th of the viewport height */
  border-top: 1px solid black; /* Divider between sections */
}

.mobile-menu nav ul li a {
  font-size: 24px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: center;
  padding: 0;
  display: block;
}

.logo {
  height: calc(100vh / 6); /* Logo section gets the same height as others */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: 80%; 
  width: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header-desktop {
    display: none;
  }

  .header-mobile {
    display: flex;
    padding: 0 5%;
  }

  .header {
    height: 89px;
  }
}
