.ContenedorServicios {
    display: grid;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 10%;
}

.recuadroservicios {
    display: grid;
    justify-items: center;
    margin-bottom: 20%;
    width:  270px;
    height: 295px;
    background-color: gray;
    gap: 50px;
}

.GaleriaServicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30%;
    margin-bottom: 10%; 
    margin-top: 2%;
    
    
}

.ImagenesServicios {
    display: block;
    align-items: center;
    width: 2000%;
    position: relative;
}

