.ContenedorBanner {
    display: flex;
    width: 100%;
    height: 430px;

}

.ContenedorBanner img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
}

.ContenedorBanner img:hover {
    cursor: pointer;
    width: 300px;
    opacity: 1.1;
    filter: contrast(120%);
}