.ContenedorTienda {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 5%;
}

p {
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6px;
    font-style: normal;
}

.TituloTienda {
    font-family: "Abril Fatface";
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;
    font-style: normal;
    line-height: normal;
    
}

.contenedorproductos {
    display: grid;
    justify-items: center;
    margin-bottom: 20%;
    width: 90%;
    gap: 10%;
}

.GaleriaTienda {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0%;
    justify-content: center;
    margin-bottom: 2%; 
    margin-top: 2%;
}

.ImagenesTienda {
    display: block;
    align-items: center;
    width: 50%;
    position: relative;
    padding-bottom: 25px;
    border-bottom: solid;
    border-color: #5c5c5c;
}

.CuadroFijo {
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 35%;
    height: 7em;
    background-color: #5c5c5c;
    border-top-left-radius: 16px;
}

.botonInstagram {
    position: relative;
    bottom: 0;
    right: -100px;
    top: -30px;
    transform: translate(20%, 20%);
    width: auto;
    min-width: 120px;
    height: 3em;
    padding: 10px 20px;
    background-color: #e0a9d6;
    border: none;
    cursor: pointer;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    font-family: "Abril Fatface";
    font-size: 24px;
    font-weight: 400;
    z-index: 1;
}


.textocuadrocentralfijo {
    position: absolute;
    top: 20%;
    text-align: center;
    color: #fff;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 6px;
}


@media all and (max-width: 720px) {
    .ImagenesTienda {
        display: block;
        margin: 20px;
    }
    
    .TituloTienda {
    
        font-family: "Abril Fatface";
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 10px;
        font-style: normal;
        line-height: normal;
    
    }

    .GaleriaTienda {
        width: 100%;        
        overflow-x: hidden;
        align-items: center;
        justify-content: center;
    }

    .contenedorproductos {
        display: grid;
        justify-items: center;
        gap: 1%;
    }

    .ImagenesTienda {
        display: block;
        align-items: center;
        width: 80%;
        
    }

    .CuadroFijo {
        width: 45%;
    }

    .textocuadrocentralfijo {
        font-size: 9px;
    }

    p {
        font-size: small;
    }

}