button { 
    border: none;
    background-color: transparent;
}

.ContenedorContacto {
    position: relative;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.ConteTexFot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}

.contenedorTextoContacto {
    width: 65%;
    height: 40%;
    padding-left: 20%;
    margin-top: 82px;
   
}

.TextoContacto {
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 1.3rem;
}




.FotoContacto {
    width: 70%;
    padding-right: 15%;
}

.imgcontacto {
    max-width: 100%;
    height: auto;
    margin-top: 83px;
}

@media all and (max-width: 720px) {

    .ContenedorContacto {
        height: 50%;
    }

    .contenedorTextoContacto {
        width: 100%;
        padding-left: 10%; /* Adjust padding on mobile for better readability */
        font-family: "Alumni Sans";}
        

    .TextoContacto {
        font-family: "Alumni Sans";
        font-size: .75rem;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        text-align: justify;
    }



    .FotoContacto {
        width: 100%; /* Image takes the full width on small screens */
        padding-right: 0;
        margin-top: 20px;
    }

    .imgcontacto {
        width: 100%; /* Image will scale to fit the mobile screen width */
        max-width: 300px; /* Max width for smaller screens */
    }
  }