.ContenedorTienda {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 10%;
    
}

.contenedorproductos {
    display: grid;
    justify-items: center;
    margin-bottom: 20%;
    
    width: 90%;
    gap: 10%;
}

.GaleriaTienda {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    margin-bottom: 10%; 
    margin-top: 2%;
    
    
    
}

.ImagenesTienda {
    display: block;
    align-items: center;
    width: 80%;
    position: relative;
    border: 8px solid #E0A9D6;
}

.CuadroFijo {
    display: block;
    align-self: center;
    width: 70%;
    background-color: #5c5c5c;
    border-top-left-radius: 16px;

}

.textoproducto {
    border-top: solid grey 4px;
    width: 80%;
}


@media all and (max-width: 720px) {
    .ImagenesTienda {
        display: block;
        
        margin: 20px;
    }
    
    .GaleriaTienda {
        width: 100%;        
        overflow-x: hidden;
        align-items: center;
        justify-content: center;
    }

    .contenedorproductos {
        display: grid;
        justify-items: center;
        gap: 1%;
    }

    .ImagenesTienda {
        display: block;
        align-items: center;
        width: 80%;
        
    }



}