.ContenedorTienda {
    display: grid;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-top: 10%;
}

.contenedorproductos {
    display: grid;
    justify-items: center;
    margin-bottom: 20%;
    width: 120%;
    gap: 10%;
}

.GaleriaTienda {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    align-items: center;
    margin-bottom: 10%; 
    
    
}

.ImagenesTienda {
    display: block;
    align-items: center;
    width: 2000%;
    position: relative;
}

.CuadroFijo {
    display: block;
    align-self: center;
    width: 70%;
    background-color: #5c5c5c;
    border-top-left-radius: 16px;

}


@media all and (max-width: 720px) {
    .ImagenesTienda {
        display: block;
        
        margin: 20px;
    }
    
    .GaleriaTienda {
        width: 100%;        
        overflow-x: hidden;
        align-items: center;
        justify-content: center;
    }

    .contenedorproductos {
        display: grid;
        justify-items: center;
        gap: 1%;
    }

    .ImagenesTienda {
        display: block;
        align-items: center;
        width: 80%;
        
    }



}