.swiper {
    width: 60%;
    padding-top: 10px;
    padding-bottom: 50px;
    overflow: hidden;
    
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    border: transparent;
    border-radius: 8px;
    /* width: 200px;
    height: 200px; */
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .swiper-button-next {
    --button-size: clamp(12px, 8vw, 56px);
    --icon-size: clamp(1px, 2vw, 3px); 
  
    width: var(--button-size); /* Dynamic width */
    height: var(--button-size); /* Dynamic height */
    background-color: #E0A9D6; /* Circle color */
    border-radius: 50%; /* Makes it a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Ensures the icon is white */
    transition: all 0.3s ease; /* Smooth transition for resizing */
}

.swiper-button-next ion-icon {
    font-size: var(--icon-size); /* Dynamic icon size */
}

.swiper-button-prev {
  --button-size: clamp(12px, 8vw, 56px);
  --icon-size: clamp(1px, 2vw, 3px); 

  width: var(--button-size); /* Dynamic width */
  height: var(--button-size); /* Dynamic height */
  background-color: #E0A9D6; /* Circle color */
  border-radius: 50%; /* Makes it a circle */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Ensures the icon is white */
  transition: all 0.3s ease; /* Smooth transition for resizing */
}

.swiper-button-prev ion-icon {
  font-size: var(--icon-size); /* Dynamic icon size */
}

  .swiper-slide-next {
    opacity: 0;
  }

  .swiper-slide-prev {
    opacity: 0;
  }

  .swiper-container {
    background: #D89A9A;
  }

  
@media all and (max-width: 960px) {
  .swiper {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 50px;
    
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    /* border: solid gray 3px; */
    border-radius: 8px;
    /* width: 200px;
    height: 200px; */
  }

  .swiper-button-next {
    width: 30px;
    height: 30px;
  }

  .swiper-button-prev {
    width: 30px;
    height: 30px;
  }

  .swiper-button-next:after {
    content: 'next';
    font-size: 18px;
}

  .swiper-button-prev:after {
  content: 'prev';
  font-size: 18px;
}
}

  