button { 
    border: none;
    background-color: transparent;
}

.ContenedorContacto {
    position: relative;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.ConteTexFot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}

.TextoContacto {
    width: 55%;
    padding-left: 12%;
    text-align: left;
    margin-top: 82px;
}


.FotoContacto {
    width: 40%;
    padding-right: 5%;
}

.imgcontacto {
    max-width: 100%;
    height: auto;
    margin-top: 82px;
}

@media all and (max-width: 720px) {
    .TextoContacto {
        width: 100%;
        padding-left: 5%; /* Adjust padding on mobile for better readability */
        font-family: "Alumni Sans";
        font-size: 15px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
    }

    .FotoContacto {
        width: 100%; /* Image takes the full width on small screens */
        padding-right: 0;
        margin-top: 20px;
    }

    .imgcontacto {
        width: 100%; /* Image will scale to fit the mobile screen width */
        max-width: 300px; /* Max width for smaller screens */
    }
  }