.ContenedorServicios {
    width: 100%;
    margin-top: 1%;
    text-align: center;
}

.GaleriaServicios {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
    margin-top: 5%;
    padding: 0 5%;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.recuadroservicios {
    width: 270px;
    height: 295px;
    margin-bottom: 20px;
}

.TituloServicios {
    font-family: "Abril Fatface";
    font-style: normal;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1px;
    line-height: normal;
}

.Titulocontacto{
    font-family: "Abril Fatface";
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: normal;
    font-style: normal;
}

.buttonText {
    font-family: 'Alumni Sans';
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin-right: 40px;
}

h3 {
    font-family: "Abril Fatface";
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
    font-style: normal;
    line-height: normal;
}

hr {
    border: 0;
    height: 1px;
    background-color: black;
    width: 100%;
    margin-bottom: 10px;
}

p {
    font-family: "Alumni Sans";
    font-size: 20px;
    font-weight: 200;
    line-height: normal;
    text-align: center;
    max-width: 500px;
    height: 100px;
    font-style: normal;
}

/* Divider between image and text */
.divider {
    width: 80%;
    margin: 20px auto; /* Ensures the divider is horizontally centered */
    border: 0;
    height: 1px;
    background-color: #000;
}

.dividercel {
    height: 0px;
    width: 0px;
}

/* Contact Section */
.BotonesContacto {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.botonRedes button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #e0a9d6;
    border: none;
    cursor: pointer;
    border-radius: 20px 0px;
}

.imgWA, .imgIM {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    margin-left: 40px;
}

/* Hover functionality for desktop */
.image-container {
    position: relative;
    width: 270px;
    height: 295px;
}

.recuadroservicios {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;
}

.cover-image {
    opacity: 0; /* Initially hidden */
}

.image-container:hover .cover-image {
    opacity: 1; /* Reveal on hover */
}

/* Responsive Styles */
@media (max-width: 720px) {
    .ContenedorServicios {
        width: 100%;
        margin-top: 0%;
        text-align: center;
    }

    .TituloServicios {
        font-family: "Abril Fatface";
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 10px;
        font-style: normal;
        line-height: normal;
    }

    .Titulocontacto{
        font-family: "Abril Fatface";
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 10px;
        font-style: normal;
        line-height: normal;
    }
    
    .GaleriaServicios {
        flex-direction: column;
        gap: 30px;
    }

    .servicio {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
     }

    

    .divider {
        width: 80%;
        height: 1px;
        margin: 10px auto; /* Ensure it's centered in mobile */
    }

    h3 {
        margin-bottom: 0;
        order: 2;
    }

    hr {
        order: 1;
        width: 80%;
    }

    p {
        order: 0;
        max-width: 90%;
        margin-bottom: 20px;
        font-family: "Alumni Sans";
        font-size: 15px;
        font-weight: 200;
        line-height: 1.6;
        text-align: center;
        height: 100px;
    }

    .BotonesContacto {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
    }

    .botonRedes button {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 10px;
    }

    .image-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 10%;
        position:relative;
    

        
    }


    .recuadroservicios {
        position: relative;
        width: 70%;
        height: auto;
        justify-content: space-between; /* Ensure equal spacing between images */
        overflow: hidden; 
    }
    
    .cover-image {
       
        opacity: 1;
        
        float: right;
    }
    
    .image-container:hover .cover-image {
        
        
        float: left;
    }

    .dividercel {
        width: 80%;
        margin: 10px auto; /* Ensure it's centered in mobile */
        border: 0;
        height: 1px;
        background-color: #000;
    }

    .imgWA, .imgIM {
        width: 31px;
        height: 31px;
    }
}


